<a href="https://colab.research.google.com/github/asifahmed90/Stock-Price-Analysis/blob/master/TIme_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd

In [0]:
from google.colab import files

uploaded = files.upload()

Saving tata_Global_Test.csv to tata_Global_Test.csv

In [0]:
dataset = pd.read_csv('tata_Global.csv',index_col="Date",parse_dates=True)
dataset.head(5)

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [0]:
#Data cleaning
dataset.isna().any()

# Feature Scaling Normalization
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = pd.DataFrame(sc.fit_transform(dataset))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [0]:
training_set_scaled.head(5)

          0         1         2         3         4         5         6
0  0.620235  0.622688  0.621560  0.622576  0.624183  0.103951  0.127882
1  0.622263  0.626144  0.625285  0.623801  0.622141  0.173002  0.212192
2  0.644363  0.639154  0.631078  0.628700  0.626225  0.075513  0.093535
3  0.617194  0.625940  0.629009  0.633803  0.633783  0.079233  0.098117
4  0.618208  0.635902  0.623836  0.624617  0.622345  0.116080  0.142907

In [0]:
training_set_scaled.shape

(2035, 7)

In [0]:

# Creating a data structure with 60 timesteps and 1 output
X_train = []
y_train = []
for i in range(60, 2035):
    X_train.append(training_set_scaled.loc[i-60:i, 0])
    y_train.append(training_set_scaled.loc[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

# Reshaping
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [0]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Bidirectional
 
# define model
model = Sequential()
model.add(Bidirectional(LSTM(50, activation='relu'), input_shape=(X_train.shape[1], 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X_train, y_train, epochs = 5, batch_size = 32)

Epoch 1/5
1975/1975 [==============================] - 6s 3ms/step - loss: 0.0153
Epoch 2/5
1975/1975 [==============================] - 4s 2ms/step - loss: 0.0010
Epoch 3/5
1975/1975 [==============================] - 4s 2ms/step - loss: 7.0747e-04
Epoch 4/5
1975/1975 [==============================] - 4s 2ms/step - loss: 5.1103e-04
Epoch 5/5
1975/1975 [==============================] - 4s 2ms/step - loss: 4.3604e-04